In [1]:
import pandas as pd
import numpy as np
import warnings
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("C:/Users/ibuba/Kuliah/Dataset/UMR INDONESIA.csv", delimiter=';')
data

,TAHUN,UMR,INFLASI,JUMLAH PENDUDUK,ANGKATAN KERJA,BEKERJA,PENGANGGURAN,PERTUMBUHAN EKONOMI
0,1997,135000,0.11,204000000,89230978,85047007,4183971,0.07
1,1998,150900,0.78,207000000,92337801,87292541,5045260,0.00
2,1999,175400,0.02,211000000,94847178,88816859,6030319,0.01
3,2000,216500,0.09,214000000,95650961,89837730,5813231,0.04
4,2001,290500,0.13,217000000,98812448,90807417,8005031,0.05
5,2002,362700,0.10,220000000,100779270,91647166,9132104,0.05
6,2003,414700,0.05,223000000,102750092,92810791,9939301,0.05
7,2004,458500,0.06,225000000,103973387,93722036,10251351,0.06
8,2005,507697,0.17,228000000,105857653,93958387,11899266,0.06
9,2006,602702,0.07,231000000,106388935,95456935,10932000,0.06
10,2007,672480,0.07,234000000,109941359,99930217,10011142,0.07
11,2008,745709,0.11,237000000,111947265,102552750,9394515,0.07
12,2009,841530,0.03,241000000,113833280,104870663,8962617,0.05
13,2010,908824,0.07,244000000,116527546,108207767,8319779,0.06
14,2011,988829,0.04,247000000,116097701,107416309,8681392,0.07
15,2012,1088903,0.04,250000000,119849734,112504868,7344866,0.06
16,2013,1550000,0.08,253000000,120172003,112761072,7410931,0.06
17,2014,1584391,0.08,256000000,121872931,114628026,7244905,0.05
18,2015,1790342,0.03,259000000,122380021,114819199,7560822,0.05
19,2016,1997819,0.03,261000000,125443748,118411973,7031775,0.05
20,2017,2020500,0.04,264000000,128062746,121022423,7040323,0.05
21,2018,2268874,0.03,267000000,133940000,127070000,6870000,0.05
22,2019,2455662,0.03,269000000,136018000,129936000,6082000,0.05
23,2020,2672371,0.01,271000000,138022000,128945000,9077000,0.00
24,2021,2608093,0.02,273000000,140015000,131005000,9010000,0.03
25,2022,2644709,0.05,275000000,147032000,138030000,8007000,0.05

In [3]:
data.dtypes

TAHUN                    int64
UMR                      int64
INFLASI                float64
JUMLAH PENDUDUK          int64
ANGKATAN KERJA           int64
BEKERJA                  int64
PENGANGGURAN             int64
PERTUMBUHAN EKONOMI    float64
dtype: object

In [4]:
data.describe()

,TAHUN,UMR,INFLASI,JUMLAH PENDUDUK,ANGKATAN KERJA,BEKERJA,PENGANGGURAN,PERTUMBUHAN EKONOMI
count,26.000000,2.600000e+01,26.000000,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,26.000000
mean,2009.500000,1.159755e+06,0.090000,2.415769e+08,1.150686e+08,1.069811e+08,8.049265e+06,0.048846
std,7.648529,8.804764e+05,0.145904,2.223902e+07,1.588136e+07,1.576009e+07,1.831055e+06,0.019251
min,1997.000000,1.350000e+05,0.010000,2.040000e+08,8.923098e+07,8.504701e+07,4.183971e+06,0.000000
25%,2003.250000,4.256500e+05,0.030000,2.235000e+08,1.030559e+08,9.303860e+07,7.033912e+06,0.050000
50%,2009.500000,8.751770e+05,0.055000,2.425000e+08,1.149655e+08,1.061435e+08,8.006016e+06,0.050000
75%,2015.750000,1.945950e+06,0.087500,2.605000e+08,1.246778e+08,1.175138e+08,9.118328e+06,0.060000
max,2022.000000,2.672371e+06,0.780000,2.750000e+08,1.470320e+08,1.380300e+08,1.189927e+07,0.070000

In [5]:
# Data Train dan Label
dt = data.iloc[:,:-1]
label = data.iloc[:,-1]
display("Data Train :", dt)
display("Data Label :", label)

'Data Train :'

,TAHUN,UMR,INFLASI,JUMLAH PENDUDUK,ANGKATAN KERJA,BEKERJA,PENGANGGURAN
0,1997,135000,0.11,204000000,89230978,85047007,4183971
1,1998,150900,0.78,207000000,92337801,87292541,5045260
2,1999,175400,0.02,211000000,94847178,88816859,6030319
3,2000,216500,0.09,214000000,95650961,89837730,5813231
4,2001,290500,0.13,217000000,98812448,90807417,8005031
5,2002,362700,0.10,220000000,100779270,91647166,9132104
6,2003,414700,0.05,223000000,102750092,92810791,9939301
7,2004,458500,0.06,225000000,103973387,93722036,10251351
8,2005,507697,0.17,228000000,105857653,93958387,11899266
9,2006,602702,0.07,231000000,106388935,95456935,10932000
10,2007,672480,0.07,234000000,109941359,99930217,10011142
11,2008,745709,0.11,237000000,111947265,102552750,9394515
12,2009,841530,0.03,241000000,113833280,104870663,8962617
13,2010,908824,0.07,244000000,116527546,108207767,8319779
14,2011,988829,0.04,247000000,116097701,107416309,8681392
15,2012,1088903,0.04,250000000,119849734,112504868,7344866
16,2013,1550000,0.08,253000000,120172003,112761072,7410931
17,2014,1584391,0.08,256000000,121872931,114628026,7244905
18,2015,1790342,0.03,259000000,122380021,114819199,7560822
19,2016,1997819,0.03,261000000,125443748,118411973,7031775
20,2017,2020500,0.04,264000000,128062746,121022423,7040323
21,2018,2268874,0.03,267000000,133940000,127070000,6870000
22,2019,2455662,0.03,269000000,136018000,129936000,6082000
23,2020,2672371,0.01,271000000,138022000,128945000,9077000
24,2021,2608093,0.02,273000000,140015000,131005000,9010000
25,2022,2644709,0.05,275000000,147032000,138030000,8007000

'Data Label :'

0     0.07
1     0.00
2     0.01
3     0.04
4     0.05
5     0.05
6     0.05
7     0.06
8     0.06
9     0.06
10    0.07
11    0.07
12    0.05
13    0.06
14    0.07
15    0.06
16    0.06
17    0.05
18    0.05
19    0.05
20    0.05
21    0.05
22    0.05
23    0.00
24    0.03
25    0.05
Name: PERTUMBUHAN EKONOMI, dtype: float64

In [7]:
# Split data menjadi training dan testing
X_train, X_test, y_train, y_test = train_test_split(dt, label, test_size=0.2, random_state=42)

# Inisialisasi model regresi linear
model = LinearRegression()

# Latih model
model.fit(X_train, y_train)

# Prediksi berdasarkan data testing
y_pred = model.predict(X_test)

# Hasil model dan evaluasi
r2 = r2_score(y_test, y_pred)
def adjusted_r2(r2, n, p):
    return 1 - (1 - r2) * (n - 1) / (n - p - 1)

adj_r2 = adjusted_r2(r2, X_test.shape[0], X_test.shape[1])
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("Koefisien regresi:", model.coef_)
print("Intercept:", model.intercept_)
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R-squared:", r2)
print("Adjusted R-squared:", adj_r2)
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
print("Root Mean Squared Error:", rmse)
print("Mean Absolute Percentage Error:", mean_absolute_percentage_error(y_test, y_pred))

Koefisien regresi: [-5.94487929e-03 -5.04371940e-08 -2.14673363e-02  4.39558584e-09
  2.36539834e-08 -2.41905531e-08 -2.24286796e-08]
Intercept: 11.036940872668922
Mean Squared Error: 0.0006053616091482351
R-squared: -2.352771989128686
Adjusted R-squared: 9.381929972821714
Mean Absolute Error: 0.014798006710089384
Root Mean Squared Error: 0.02460409740568093
Mean Absolute Percentage Error: 0.22190253462256582

In [8]:
data

,TAHUN,UMR,INFLASI,JUMLAH PENDUDUK,ANGKATAN KERJA,BEKERJA,PENGANGGURAN,PERTUMBUHAN EKONOMI
0,1997,135000,0.11,204000000,89230978,85047007,4183971,0.07
1,1998,150900,0.78,207000000,92337801,87292541,5045260,0.00
2,1999,175400,0.02,211000000,94847178,88816859,6030319,0.01
3,2000,216500,0.09,214000000,95650961,89837730,5813231,0.04
4,2001,290500,0.13,217000000,98812448,90807417,8005031,0.05
5,2002,362700,0.10,220000000,100779270,91647166,9132104,0.05
6,2003,414700,0.05,223000000,102750092,92810791,9939301,0.05
7,2004,458500,0.06,225000000,103973387,93722036,10251351,0.06
8,2005,507697,0.17,228000000,105857653,93958387,11899266,0.06
9,2006,602702,0.07,231000000,106388935,95456935,10932000,0.06
10,2007,672480,0.07,234000000,109941359,99930217,10011142,0.07
11,2008,745709,0.11,237000000,111947265,102552750,9394515,0.07
12,2009,841530,0.03,241000000,113833280,104870663,8962617,0.05
13,2010,908824,0.07,244000000,116527546,108207767,8319779,0.06
14,2011,988829,0.04,247000000,116097701,107416309,8681392,0.07
15,2012,1088903,0.04,250000000,119849734,112504868,7344866,0.06
16,2013,1550000,0.08,253000000,120172003,112761072,7410931,0.06
17,2014,1584391,0.08,256000000,121872931,114628026,7244905,0.05
18,2015,1790342,0.03,259000000,122380021,114819199,7560822,0.05
19,2016,1997819,0.03,261000000,125443748,118411973,7031775,0.05
20,2017,2020500,0.04,264000000,128062746,121022423,7040323,0.05
21,2018,2268874,0.03,267000000,133940000,127070000,6870000,0.05
22,2019,2455662,0.03,269000000,136018000,129936000,6082000,0.05
23,2020,2672371,0.01,271000000,138022000,128945000,9077000,0.00
24,2021,2608093,0.02,273000000,140015000,131005000,9010000,0.03
25,2022,2644709,0.05,275000000,147032000,138030000,8007000,0.05

In [9]:
# Membuat kolom dummy 'TAHUN PEMILU' berdasarkan tahun krisis
dt['TAHUN PEMILU'] = [1 if year in [1999, 2004, 2009, 2014, 2019] else 0 for year in data['TAHUN']]
dt

,TAHUN,UMR,INFLASI,JUMLAH PENDUDUK,ANGKATAN KERJA,BEKERJA,PENGANGGURAN,TAHUN PEMILU
0,1997,135000,0.11,204000000,89230978,85047007,4183971,0
1,1998,150900,0.78,207000000,92337801,87292541,5045260,0
2,1999,175400,0.02,211000000,94847178,88816859,6030319,1
3,2000,216500,0.09,214000000,95650961,89837730,5813231,0
4,2001,290500,0.13,217000000,98812448,90807417,8005031,0
5,2002,362700,0.10,220000000,100779270,91647166,9132104,0
6,2003,414700,0.05,223000000,102750092,92810791,9939301,0
7,2004,458500,0.06,225000000,103973387,93722036,10251351,1
8,2005,507697,0.17,228000000,105857653,93958387,11899266,0
9,2006,602702,0.07,231000000,106388935,95456935,10932000,0
10,2007,672480,0.07,234000000,109941359,99930217,10011142,0
11,2008,745709,0.11,237000000,111947265,102552750,9394515,0
12,2009,841530,0.03,241000000,113833280,104870663,8962617,1
13,2010,908824,0.07,244000000,116527546,108207767,8319779,0
14,2011,988829,0.04,247000000,116097701,107416309,8681392,0
15,2012,1088903,0.04,250000000,119849734,112504868,7344866,0
16,2013,1550000,0.08,253000000,120172003,112761072,7410931,0
17,2014,1584391,0.08,256000000,121872931,114628026,7244905,1
18,2015,1790342,0.03,259000000,122380021,114819199,7560822,0
19,2016,1997819,0.03,261000000,125443748,118411973,7031775,0
20,2017,2020500,0.04,264000000,128062746,121022423,7040323,0
21,2018,2268874,0.03,267000000,133940000,127070000,6870000,0
22,2019,2455662,0.03,269000000,136018000,129936000,6082000,1
23,2020,2672371,0.01,271000000,138022000,128945000,9077000,0
24,2021,2608093,0.02,273000000,140015000,131005000,9010000,0
25,2022,2644709,0.05,275000000,147032000,138030000,8007000,0

In [10]:
# Split data menjadi training dan testing
X_train, X_test, y_train, y_test = train_test_split(dt, label, test_size=0.2, random_state=42)

# Latih model
model.fit(X_train, y_train)

# Prediksi berdasarkan data testing
y_pred = model.predict(X_test)

# Hasil model dan evaluasi
r2 = r2_score(y_test, y_pred)
def adjusted_r2(r2, n, p):
    return 1 - (1 - r2) * (n - 1) / (n - p - 1)

adj_r2 = adjusted_r2(r2, X_test.shape[0], X_test.shape[1])
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("Koefisien regresi:", model.coef_)
print("Intercept:", model.intercept_)
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R-squared:", r2)
print("Adjusted R-squared:", adj_r2)
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
print("Root Mean Squared Error:", rmse)
print("Mean Absolute Percentage Error:", mean_absolute_percentage_error(y_test, y_pred))

Koefisien regresi: [-4.12324930e-03 -5.19833514e-08 -2.52200021e-02  3.80074746e-09
  2.10122052e-08 -2.15196712e-08 -2.00695545e-08 -3.25659479e-03]
Intercept: 7.5223369695794515
Mean Squared Error: 0.0005532421644520205
R-squared: -2.0641104492727274
Adjusted R-squared: 6.1068507487878785
Mean Absolute Error: 0.014306715415007012
Root Mean Squared Error: 0.023521100409037425
Mean Absolute Percentage Error: 0.21977628344613112